plantri/*
python/circle_packings/.ipynb_checkpoints/*
python/circle_packings/Untitled.ipynb
python/circle_packings/Untitled1.ipynb
python/circle_packings/Untitled2.ipynb
python/circle_packings/Untitled3.ipynb
python/circle_packings/Untitled4.ipynb
python/circle_packings/Untitled5.ipynb
python/circle_packings/Untitled6.ipynb
python/circle_packings/Untitled7.ipynb
python/circle_packings/Untitled8.ipynb
python/circle_packings/__pycache__/*
python/circle_packings/angle_structure.pyc
python/circle_packings/angle_structures/*
python/circle_packings/graphs
python/circle_packings/lobachevsky.pyc
python/circle_packings/pack.pyc
python/circle_packings/sage_muckaround.py
python/circle_packings/systems.pyc
python/circle_packings/graph_operations.pyc
python/circle_packings/queue.pyc
python/circle_packings/generate_angles_42.py
